
body{
  background-color:rgb(244, 248, 249);
  width: 2600px;
  margin: 10px 20px;
  }
.main-box{
  width: 916px;
  height: 234px;
  background: rgb(255, 255, 255);
  border: 2px solid rgb(225, 232, 237) ;
  border-radius: 8px ;
  padding: 40px;
  background: rgba(255, 255, 255);
  float: left;
  font-family: helvetica,sans-serif;
}
.profile-picture{
  float: left;
  margin-right: 28px;
}
.user-name{
  float: left;
  font-weight: bold;
  font-size: 2em;
  margin: 0;


}
.account-name{
  font-size: 0.875em;
  font-weight: normal;
  color: rgb(104, 109, 129);
  margin-left: -10px;
  margin-bottom: 25px;
}
.follow-button{
  float: right;
  color: rgb(85, 172, 238);
  font-size: 1.76em;
  font-weight: bold;
  border: 2px solid rgb(85, 172, 238);
  border-radius: 8px;
  width: 180px;
  height: 60px;
  //text-align: center;
}
.logo{
float: left;
margin: 13px 7px 21px 25px;
}
.follow-inside{
  float: left;
  margin: 13px 25px 21px 0;
}
.post{
  clear: both;
  padding-top: 27px;
}
.post-text{
  margin: 0 0 12px 0;
  font-size: 2em;
}
time{
  font-size: 1.7em;
  color: rgb(101, 116, 127);
}
.icons{
  margin-top: 29px;
  font-size: 1.8em;
  color: rgb(101, 116, 127);
}

.example{
  float: left;
  margin-top: -12px;
}
.example2{
  clear: both;
  margin-left: -20px;
}
.reply{
  margin-right: 35px;
}
.retweet{
  margin-right: 3px;
}
.favorite{
  margin-left: 29px;
}
