
body{
  background-color: rgb(244, 248, 249);
  width: 2600px;
  margin:0;
  }


  .main-box{
    position: relative;
    float: left;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(225, 232, 237);
    border-radius: 8px;
    width: 995px;
    height: 316px;
    margin-top: 10px;
    margin-left: 20px;
    //padding:40px;
    font-family: helvetica;
  }
.user-pic{
  float: left;
  margin: 40px 20px 0 40px;

}
.user-name{
  font-size: 2em;
  font-weight: bold;
  float: left;
  position:relative;
  top: 2px;
}
.validation{
  margin-top: 5px;
}
.user-account{
  color: rgb(104,109,129);
  width: 150px;
  font-size: 1.8em;
  font-weight: normal;
  clear: both;
  position: relative;
  left: 130px; bottom: 30px;
}
.follow-button{
  border: 2px solid rgb(85, 172, 238);
  border-radius: 8px;
  width: 160px;
  height: 40px;
  float: right;
  position:relative;
  bottom: 135px; right: 40px;
  color: rgb(85, 172, 238);
  font-weight: bold;
  font-size: 1.8em;
  text-align: center;
  padding: 10px;
}
.twitter-logo{
  position:relative;
  top: 5px;
  margin-left: 3px;

}
.text{
  font-size: 2em;
  color: rgb(0, 0, 0);
  position: relative;
  left: 40px; bottom: 30px;
}
time{
  color: rgb(101, 116, 127);
  font-size: 1.75em;
  position: relative;
  Left: 40px; bottom: 50px;

}
.icons{
  position: relative;
  bottom: 42px;
  padding: 0 40px;
  //background: red;


}
.reply{
margin-right: 40px;
}
.retweet{
margin-right: 5px;

}
.favorite{
margin-right: 10px;
}
.retweettxt{
  color: rgb(105, 120, 130);
  font-size: 1.8em;
  margin-right: 30px;

}
.favoritetxt{
  color: rgb(105, 120, 130);
  font-size: 1.8em;
}

#example-left{
  //background: blue;
  width: 1040px;
  position: relative;
  bottom: 2px;
  /* I dont understand what happens when i remove the float below */
  float: left;

}
.description {
  color: red;
  position: absolute;
  top: 30px; left: 60px;
}

#example-bottom{
  //background: blue;
  //width: 1040px;
  position: relative;
  clear: both
